@model List<Document>

<h2>My documents</h2>

<a asp-controller="Document" asp-action="Upload" class="btn btn-primary">Upload new document</a>
@if (!Model.Any())
{
    <p>No documents yet! Please, upload new Docs.</p>
}
else
{

    @await Html.PartialAsync("_DocumentList", Model)
}